.board {
    display: grid;
    width: 100px;
    height: 150px;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
}

.square {
    background: #fff;
    height: auto;
    border-width: 1px;
    line-height: 10px;
    font-weight: bold;
    text-align: center;
    width: 34px;
}